<header class="site-header" role="banner" id="large-header">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <canvas id="canvas"></canvas>
    <h1 class='main-title'><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> <sup>
      {%- if page_paths -%}
        {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
    </sup></h1>
</header>
<script>
  (function() {
  var requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
                              window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
  window.requestAnimationFrame = requestAnimationFrame;
})();

(function() {

  var width, height, largeHeader, canvas, ctx, points, target, animateHeader = true;

  // Main
  initHeader();
  addListeners();

  function initHeader() {
    width = window.innerWidth;
    height = window.innerHeight;
    target = {
      x: width / 2,
      y: height / 2
    };

    largeHeader = document.getElementById('large-header');
    largeHeader.style.height = height - 200 + 'px';

    canvas = document.getElementById('canvas');
    canvas.width = width;
    canvas.height = height;
    ctx = canvas.getContext('2d');
    var W = width;
    var H = height;
    
    var particles = [];
   
    for (var i = 0; i < 100; i++) {
      particles.push(new Particle());
    }

    function Particle() {
      this.location = {
        x: Math.random() * W,
        y: Math.random() * H
      }
      this.radius = 10;
      this.speed = 0.3;
      this.angle = Math.random() * 360;

      var r = Math.round(Math.random() * 255);
      var g = Math.round(Math.random() * 255);
      var b = Math.round(Math.random() * 255);
      var a = Math.random() * 0.1;
      this.rgba = "rgba(" + r + ", " + g + "," + b + ", " + a + ")";

    }

    function draw() {

      ctx.globalCompositeOperation = "source-over";
      ctx.fillStyle = "rgba(1, 1, 1, 0.2)";
      ctx.fillRect(0, 0, W, H);
      ctx.globalCompositeOperation = "lighter";
      for (var i = 0; i < particles.length; i++) {
        var p = particles[i];
        ctx.fillStyle = "rgba(1, 1, 1, 0.1)";
        ctx.fillRect(p.location.x, p.location.y, p.radius, p.radius);

        for (var n = 0; n < particles.length; n++) {
          var p2 = particles[n];
          var yd = p2.location.y - p.location.y;
          var xd = p2.location.x - p.location.x;
          var distance = Math.sqrt(xd * xd + yd * yd);
          
          if (distance < 140) {
            ctx.beginPath();
            ctx.lineWidth = 1;
            ctx.moveTo(p.location.x, p.location.y);
            ctx.lineTo(p2.location.x, p2.location.y);
            ctx.strokeStyle = p.rgba;
            ctx.stroke();
          }
        }

        p.location.x = p.location.x + p.speed * Math.cos(p.angle * Math.PI / 180);
        p.location.y = p.location.y + p.speed * Math.sin(p.angle * Math.PI / 180);

        if (p.location.x < 0) p.location.x = W + 50;
        if (p.location.x > W + 50) p.location.x = 0;
        if (p.location.y < 0) p.location.y = H + 50;
        if (p.location.y > H + 50) p.location.y = 0;

      }
      
      requestAnimationFrame(draw);
    }

    //setInterval(draw, 3);
    requestAnimationFrame(draw);
  }

  // Event handling
  function addListeners() {
    window.addEventListener('scroll', scrollCheck);
    window.addEventListener('resize', resize);
  }
  function scrollCheck() {
    if (document.body.scrollTop > height) animateHeader = false;
    else animateHeader = true;
  }

  function resize() {
    width = window.innerWidth;
    height = window.innerHeight;
    largeHeader.style.height = height + 'px';
    canvas.width = width;
    canvas.height = height;
  }

})();
</script>
